footer.footer
    .m-container
        .footer__content 
            a.footer__logo(href="/")
                img.footer__logo-icon(src="./icons/logo.svg", alt="Логотип")
            .footer__wrap-nav
                ul.footer__nav.list-reset
                    li
                        a(href="#") О компании
                    li
                        a(href="#") Абонентам
                    li
                        a(href="#") Партнерам
                    li
                        a(href="#") Акции
                ul.footer__nav.list-reset
                    li
                        a(href="#") Блог безопасности
                    li
                        a(href="#") Карьера
                    li
                        a(href="#") Контакты
            .footer__wrap-contacts 
                .footer__block-phone 
                    span.footer__label 24/7
                    a.footer__phone(href="tel:74951269441") +7 (495) 126-94-41
                .footer__block-contacts
                    .footer__inner-contacts
                        span.footer__contact-title Режим работы
                        .footer__contact-block-info
                            span.footer__contact-info Офис: 9:00 – 18:00
                            span.footer__contact-info Технический центр: Круглосуточно
                    .footer__inner-contacts
                        span.footer__contact-title Адрес:
                        .footer__contact-block-info
                            span.footer__contact-info 129110, г. Москва, ул. Щепкина, д. 47, стр. 1, помещение VI, комнаты,15/1, 15/2, 15/3
    .footer__politics
        .m-container
            .footer__politics-text
                p 
                    | Применяемые на данном интернет-сайте названия: Компания КРОНА, ГК КРОНА, КРОНА — это предприятия, работающие под брендом и оказывающие услуги по организации охраны недвижимости и имущества, и имеющие все необходимые лицензии и разрешения.
                    | Данный интернет-сайт носит исключительно справочно-информационный, аналитический, обзорный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса РФ, и не имеет в качестве основной цели продвижение услуг на рынке.
                    | Все условия и предложения уточняйте у менеджеров по телефону: <a href="tel:74951269441">+7 495 126 94 41</a>
                p <a href="#">Политика конфиденциальности</a> выполняется согласно Статье 7 Закона «О персональных данных №152-ФЗ от 27.07.2006» 
                p ООО МК «КРОНА» © 1993–2023. Все права защищены.