extends ../../assets/layouts/dev-layout.pug

block content
    h1.dev-layout__title Страницы
    .dev-layout__wrap-links
        ul.dev-layout__list.list-reset
            li
                a(href="/home.html") Главная
    .dev-layout__block-btns
        a.dev-layout__btn(href="/index.html") Главная
        a.dev-layout__btn(href="/ui-kit.html") UI Kit
        a.dev-layout__btn(href="/components.html") Компоненты
