@import '@/assets/styles/main';

.index-page {

    ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 60px;
        grid-row-gap: 40px;
    }

    a {
        font-size: 22px;
        padding-bottom: 2px;
        border-bottom: 1px solid transparent;
        transition: border-bottom-color $tr-time;

        &:hover {
            border-bottom-color: #fff;
        }
    }
}
