extends ../../assets/layouts/dev-layout.pug

block content
    a.dev-layout__logo(href="https://v3.vitejs.ru/", target="_blank")
        img.dev-layout__logo-image(src="/icons/vite.svg", alt="Vite logo")
    h1.dev-layout__title Vite Template
    .dev-layout__block-btns
        a.dev-layout__btn(href="/pages.html") Страницы
        a.dev-layout__btn(href="/ui-kit.html") UI Kit
        a.dev-layout__btn(href="/components.html") Компоненты
