extends ../../assets/layouts/dev-layout

block vars
    -
        const props = {
            title: 'Страницы'
        }

block content
    .index-page
        ul.list-reset
            li 
                a(href="./home.html") Главная