@import '@/assets/styles/main';

.ui-kit-page {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

    &__box {
        display: grid;
        align-content: start;
        grid-row-gap: 20px;
    }
}
