@import '@/assets/styles/main';

.components-page {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

    &__box {
        display: grid;
        align-content: start;
        grid-row-gap: 20px;

        &--bg {
            position: relative;
            width: 400px;
            height: 400px;
            background-image: url('/images/examples/image-1.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px;
            overflow: hidden;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.6);
            }

            span {
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 20px;
                text-transform: uppercase;
            }
        }
    }

    &__m-gallery {
        width: 300px;
        height: 300px;
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}
