main.components
    h1.components__title Компоненты
    .components__block-btns
        a.components__btn(href="/index.html") Главная
        a.components__btn(href="/pages.html") Страницы
        a.components__btn(href="/ui-kit.html") UI kit
    .components__content
        .components__box
            //- Компонент
