@import '_vars';
@import '_mixins';

.m-container {
    width: 100%;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.page {
    flex: 1 0 auto;
}

.hidden {
    display: none;
}

a {
    color: blue;
}

.title-reset {
    margin: 0;
}

.link-reset {
    text-decoration: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
