@import '_vars';
@import '_mixins';

.m-container {
    width: 100%;
    max-width: 1398px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.page {
    flex: 1 0 auto;
}

.hidden {
    display: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.title-reset {
    margin: 0;
}

.link-reset {
    text-decoration: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn-reset {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
}

.section {
    padding: 120px 0;

    &__head {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 20px;
        justify-content: space-between;
        align-items: start;
        padding-bottom: 60px;
    }

    &__subtitle {
        max-width: 325px;
        color: $text-sec;
    }

    &__title {
        max-width: 691px;
    }
}